extends layout/layout
block content
  //内容区
  .main
    form
      .grey-box
        .grey-box-hd
          a 发布时间:
          input#date.notice-date(type="text",value="#{nowDate}")
          select
            option 00
          select
            option 00
          select
            option AM
            option PM
          a.fl-r 状态： 未发布
          a.fl-r 发布人：#{user.username}
        .grey-box-bd
          .form-item
            textarea.bootstrap(style="width:700px;height:100px;")
          .form-item
            button.btn(type="submit") 发布

            
    