/**
 * Admin.css
 */
@import "base.css";
@import "form.css";
@import "tip.css";
@import "sidebar.css";
@import "table.css";
@import "kalendae.css";
/*头部*/
#header h1{
  text-align: center;
  font-size: 40px;
  color: #666;
}
/*Conent*/
#main{
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  background: #fff;
}
.content{
  width: 100%;
  float: left;
}
.main{
  margin-left: 200px;
  background:#fff;
  padding: 20px;
}
.sideleft{
  float: left;
  margin-left: -100%;
  background:#f7f7f7;
}
/*日期*/
.notice-date{
  width: 68px;
}
/*状态*/
.status{
  background-color: #d7d7d7;
  margin: 0 0 0 5px !important;
  padding: 0 5px;
  border-left: 1px solid #c8c8c8;
  color: #888;
}
.status-over{
  background-color:#dce7bf;
  color:#bdb76a;
}
/*问题区域*/
.q{
  width: 380px;
}