/**
 * @Description    社区基础样式
 * @Author         jixiangac
 * @Email          jixiangac@gmail.com
 */
@import "reset.css";
@import "form.css";
@import "model.css";

 /*= Layouts
 ---------------------*/
 .container{
   width: 980px;
   margin: 0 auto;
 }
/* = 底部
--------------------------*/
.footer{
  clear:both;
  overflow: hidden;
  padding: 20px 0;
  color: #333;
}
.footer .container{
  border-top: 1px solid #E7E7DC;
  padding: 10px 0 0;
}
.footer .copyright{
  float:left;
}
.footer .ft-nav{
  float:right;
}
.footer .ft-nav a{
  margin: 0 3px;
}
.footer .ft-nav a:hover{
  color: #fff;
  background: #6E3939;
}
