extends ../layout/layout
block content
  .container
    #reg-box.shadow-box.login-box
      form.form-inline(method="post",action="/reg")
        .legend  问答系统注册
        hr
        hr.decoration
        .hint
        fieldset
          .form-item
            label(for="username") 用户名
            input#username(type="text",name="username")
          .form-item
            label(for="password") 密码
            input#password(type="password",name="password")
          .form-item
            label(for="re-password") 重复密码
            input#re-password(type="password",name="re-password")
          .form-item
            label(for="sex") 性别
            select#sex(name="sex")
              option(value="1") 男
              option(value="2") 女
              option(value="3") 其他
          .form-item.form-actions
            button.btn(type="submit") 注册