footer
  .container
    .copyright
      © 2012 - #{new Date().getFullYear()} jixiangac.com, all rights reserved
    .ft-nav
      a(href="/admin/login") 后台登入
      ·
      a(href="/about") 关于吉祥社区
      
script(src="/js/common.js")