!!!5
html
  head
    meta(charset="utf-8")
    title #{title}
    link(rel="stylesheet",href="/css/style.css")
    body
      if user
        .container.clearfix
          include header
          #main.clearfix
            .content
              block content
            include sidebar
          block link
      else
        block content
      include footer

