!!!5
html
  head
    meta(charset="utf-8")
    title #{title}
    link(rel="stylesheet",href="/css/style.css")
    body
      if user
        .container.clearfix
          include header
          #main.clearfix
            .content
              block content
            if user.cat === 1
              include sidebar
            else
              include sidebar_teach
          block link
      else
        block content
      include footer

