.sidebar.sideleft
  div.category-item
    .name 
      a(href="/admin/notice") 个人资料
  div.category-item
    .category.clearfix
      .name 
       a(href="/admin/user") 我提问的
      .plus
    ul
      li
        a.item(href="/admin/user?cat=1") 已解决
      li
        a.item(href="/admin/user?cat=2") 未解决