.sidebar.sideleft
  div.category-item
    .name 
      a(href="/admin/notice") 公告发布
  div.category-item
    .category.clearfix
      .name 
       a(href="/admin/user") 用户管理
      .plus
    ul
      li
        a.item(href="/admin/user?cat=1") 学生
      li
        a.item(href="/admin/user?cat=2") 老师
      li
        a.item(href="/admin/user?cat=3") 管理员
  div.category-item
    .category.clearfix
      .name
        a(href="/question") 问题管理
      .plus
    ul
      li
        a.item(href="/question") 问题列表
      li
        a.item(href="/question/cat?cat=1") 分类列表
      li
        a.item(href="/question/cat?cat=2") 章节列表
      li  
        a.item(href="/question/cat?cat=3") 专题列表
  div.category-item
    .name
      a 帮助信息
  div.category-item
    .name
      a(href="/admin/link") 友情链接